html {
	background: url(n.png) no-repeat center center fixed;
    -webkit-background-size: 100% 80%;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
    height: 100%;
    overflow: hidden;
	overflow-x: hidden;
}
body {
/*  background-image: url(n.png); 
    background-repeat: no-repeat; 
    background-position: center;
    background-attachment: fixed;       
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
    height:100%;
    width:100%; */
}
.countdownContainer{
	position: absolute;;
	color: #f7ecad;
	top: 50%;
	left: 50%;
	transform : translateX(-50%)
	translateY(-50%);
	text-align: center;
	text-shadow: 3px 1px black;
	font-family: 'Lobster', cursive;
}
#R {
	color: red;
	text-shadow: 3px 2px black;
	font-family: 'Mountains of Christmas', cursive;
}
#p {
	color:red;
}
#Hype{
	float: right;
    margin-right:35px;
    font-size: 25px;
    font-family: 'Mali';
}
.info {
	font-size: 80px;	
}
.time {
	font-size: 24px;
	font-family: 'Mountains of Christmas', cursive;
	color: white;
	text-shadow: 1px 1px black;
}
	