

	.countdownContainer{
	position: absolute;;
	color: #f7ecad;
	top: 50%;
	left: 50%;
	transform : translateX(-50%)
	translateY(-50%);
	text-align: center;
	text-shadow: 3px 1px black;
	font-family: 'Lobster', cursive;
	
}

	#R {
		color: red;
		text-shadow: 3px 2px black;
		font-family: 'Mountains of Christmas', cursive;
	}
	#p {
		color:red;
	}
	#Hype{
		float: right;
    	margin-right:35px;
    	font-size: 25px;
    	font-family: 'Mali';
	}
	.info {
		font-size: 80px;	
	}
	.time {
		font-size: 24px;
		font-family: 'Mountains of Christmas', cursive;
		color: white;
		text-shadow: 1px 1px black;
	}


.topnav{
	background-color: transparent;
	height: 34pt;
	position: center;
	text-align: center;
}



.topnav li{
	display: inline;
}
.topnav a{
	font-family: georgia;
	font-size: 20pt;
	float: left;
	text-align: center;
	width: 25%;
    min-width: 25%;
    text-decoration-color: white;
}
.topnav a:link{
	text-decoration: none;
}
.topnav a:hover{
    font-family: georgia;
	font-size: 30pt;
    max-width: 20%
	font-weight: bold;
	background-color: black;
}

html{
		background: url(n.png) no-repeat;
    	-webkit-background-size: 100% 80%;
    	-moz-background-size: cover;
    	-o-background-size: cover;
    	background-size: 100% 96%;
    	height: 100%;
    	overflow: hidden;
		overflow-x: hidden;
		background-position-y:bottom;

	}
